.box {
    height: 200px;
    width: 200px;
    background-color: blueviolet;
    margin-left: 50px;
    float: left;
    transition: 6s;
}

.box1:hover {
    transform: translate(200px, 200px);
}

.box2:hover {
    transform: translatex(305px);
}

.box3:hover {
    transform: translatey(305px);
}

.box4:hover {
    transform: rotate(45deg);
}